## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [7]:
# Loop through numbers 1 to 10
for i in range(1, 11):
    for j in range(1, 11):
        print(f" {i}X{j}={i * j}")

    print()

 1X1=1
 1X2=2
 1X3=3
 1X4=4
 1X5=5
 1X6=6
 1X7=7
 1X8=8
 1X9=9
 1X10=10

 2X1=2
 2X2=4
 2X3=6
 2X4=8
 2X5=10
 2X6=12
 2X7=14
 2X8=16
 2X9=18
 2X10=20

 3X1=3
 3X2=6
 3X3=9
 3X4=12
 3X5=15
 3X6=18
 3X7=21
 3X8=24
 3X9=27
 3X10=30

 4X1=4
 4X2=8
 4X3=12
 4X4=16
 4X5=20
 4X6=24
 4X7=28
 4X8=32
 4X9=36
 4X10=40

 5X1=5
 5X2=10
 5X3=15
 5X4=20
 5X5=25
 5X6=30
 5X7=35
 5X8=40
 5X9=45
 5X10=50

 6X1=6
 6X2=12
 6X3=18
 6X4=24
 6X5=30
 6X6=36
 6X7=42
 6X8=48
 6X9=54
 6X10=60

 7X1=7
 7X2=14
 7X3=21
 7X4=28
 7X5=35
 7X6=42
 7X7=49
 7X8=56
 7X9=63
 7X10=70

 8X1=8
 8X2=16
 8X3=24
 8X4=32
 8X5=40
 8X6=48
 8X7=56
 8X8=64
 8X9=72
 8X10=80

 9X1=9
 9X2=18
 9X3=27
 9X4=36
 9X5=45
 9X6=54
 9X7=63
 9X8=72
 9X9=81
 9X10=90

 10X1=10
 10X2=20
 10X3=30
 10X4=40
 10X5=50
 10X6=60
 10X7=70
 10X8=80
 10X9=90
 10X10=100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [8]:

l1 = list(map(int, input("Enter the elements of list l1 separated by spaces: ").split()))
l2 = list(map(int, input("Enter the elements of list l2 separated by spaces: ").split()))


l3 = []

# Add odd-index elements from l1

for i in range(1, len(l1), 2):
    l3.append(l1[i])

# Add even-index elements from l2
for i in range(0, len(l2), 2):
    l3.append(l2[i])

print("List l3:", l3)

Enter the elements of list l1 separated by spaces: 2 3 4 5 6 7
Enter the elements of list l2 separated by spaces: 4 5 6 7 8 9
List l3: [3, 5, 7, 4, 6, 8]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [9]:
def print_pattern():
    n = int(input("Enter the number of rows: "))
    for i in range(n):
        for j in range(2 * i + 1):
            print(" ", end="")
        for k in range(n - i):
            print("* ", end="")
        print()

print_pattern()

Enter the number of rows: 8
 * * * * * * * *
   * * * * * * *
     * * * * * *
       * * * * *
         * * * *
           * * *
             * *
               *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [10]:
def exponent(base, exp):
    result = 1
    for i in range(exp):
        result =result* base
    return result


base = int(input("Enter the base: "))
while True:
    exp = int(input("Enter the exponent (e>0): "))
    if exp > 0:
        break
    else:
        print("Exponent must be greater than 0. Please enter again.")

print(exponent(base, exp))

Enter the base: 8
Enter the exponent (e>0): 2
64

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [6]:
#create and write text in file
with open("test.txt", "w") as f:
    f.write("line1\nline2\nline3\nline4\nline5\nline6\nline7")

with open("test.txt", "r") as f:
    lines = f.readlines()

with open("new_test.txt", "w") as f:
    for i, line in enumerate(lines):
        if i != 4:
            f.write(line)

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [12]:
input_string = input("Enter three names separated by spaces: ")
names = input_string.split()
for name in names:
    print(name)

Enter three names separated by spaces: IIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [13]:
def show_emplyee(name, salary=9000):
    print(f"Name: {name} salary: {salary}")

employee_name = input("Enter employee name: ")
salary = input("Enter employee salary: ")
if salary:
    show_emplyee(employee_name, int(salary))
else:
    show_emplyee(employee_name)

Enter employee name: Bill Gates
Enter employee salary:
Name: Bill Gates salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [14]:
def word_with_letters_and_digits(str1):
    words = str1.split()
    for word in words:
        if any(char.isalpha() for char in word) and any(char.isdigit() for char in word):
            print(word)

str1 = input("Enter a string: ")
word_with_letters_and_digits(str1)

Enter a string: Harry25 is a good boy
Harry25

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [15]:
def replace_special_characters(str1):
    result = []
    for char in str1:
        if char.isalnum() or char.isspace():
            result.append(char)
        else:
            result.append('#')
    return ''.join(result)

str1 = input("Enter a string: ")
print(replace_special_characters(str1))

Enter a string: *Modi is @Politician & Melony!!
#Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [16]:
def construct_pairs(first_list, second_list):
    result = set()
    for num1 in first_list:
        for num2 in second_list:
            if num1 * num1 == num2:
                result.add((num1, num2))
    return result
l1 = input("Enter first list: ")
l2 = input("Enter second list: ")
first_list = list(map(int, l1.split()))
second_list = list(map(int, l2.split()))
print(construct_pairs(first_list, second_list))

Enter first list: 2 3 4 5 6 7 8
Enter second list: 4 9 16 25 36 49 64
{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [17]:
A = {3, 4, 5, 7, 9}
B = {4, 3, 6, 7, 8}
print(A - B)
print(B - A)
print(A & B)
print(A | B)

{9, 5}
{8, 6}
{3, 4, 7}
{3, 4, 5, 6, 7, 8, 9}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [18]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
    def display(self):
        return f"Max speed: {self.max_speed} Mileage: {self.mileage}"

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [4]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
    def display(self):
        return f"Max speed: {self.max_speed} Mileage: {self.mileage}"
class Bus(Vehicle):
  def __init__(self, max_speed, mileage):
    super().__init__(max_speed, mileage)

speed = int(input("Enter max speed: "))
mileage = int(input("Enter mileage: "))

bus = Bus(speed, mileage)
print(bus.display())

Enter max speed: 500
Enter mileage: 40
Max speed: 500 Mileage: 40

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [9]:

class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
    def __init__(self, name, max_speed, mileage):
        super().__init__(name, max_speed, mileage)

    def seating_capacity(self, capacity=50):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

# Example usage
name = input("Enter name: ")


bus = Bus(name, 250, 40)
print(bus.seating_capacity())
print(bus.seating_capacity(60))

Enter name: bus
The seating capacity of a bus is 50 passengers
The seating capacity of a bus is 60 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [6]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    def fare(self):
        total_fare = super().fare()
        maintenance_fee = total_fare * 0.1
        return total_fare + maintenance_fee




# Create an instance of Bus
School_bus = Bus("School Volvo", 12, 50)

# Display the total fare
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [7]:
import json
data = {"key1" : "value1", "key2" : "value2"}
json_data = json.dumps(data, indent=5)
print(json_data)

{
     "key1": "value1",
     "key2": "value2"
}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [8]:
import json

sampleJson = {"id": 1, "name": "value2", "age": 29}

with open("sorted_data1.json", "w") as file:
    json.dump(sampleJson, file, sort_keys=True, indent=5)